<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Tree: {{treename}}</title>
    <!-- Bootstrap CSS and other dependencies -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>


    <!-- Include Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- Include Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <style>
        /* Floating control panel */
        .control-panel {
            position: fixed;
            top: 20px;
            right: 20px;
            width: 340px;
            max-height: 80vh;
            /* Set a maximum height to trigger scrolling */
            padding: 15px;
            background-color: #f8f9fa;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            z-index: 1000;
            transition: transform 0.3s ease;
            overflow-y: auto;
            /* Enable vertical scrolling */
            resize: horizontal;
            /* Allow horizontal resizing */
            border: 1px solid #ccc;
            /* Add a border for better visual feedback */
        }

        /* Minimized state */
        .control-panel.minimized {
            transform: translateY(-100%);
        }

        /* Control panel tab */
        .control-panel-tab {
            position: fixed;
            top: 0;
            right: 20px;
            padding: 10px;
            background-color: #007bff;
            color: white;
            border-radius: 0 0 5px 5px;
            cursor: pointer;
            font-weight: bold;
            z-index: 1001;
            text-align: center;
        }

        .control-panel-footer {
            display: flex;
            justify-content: space-between;
            padding-top: 10px;
            border-top: 1px solid #ddd;
            margin-top: 20px;
        }

        /* Fullscreen button styling */
        .fullscreen-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1002;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <!-- Toggle Button for Control Panel -->
    <div class="control-panel-tab" id="controlPanelTab">≣</div>

    <!-- Floating Control Panel -->
    <div class="control-panel" id="controlPanel">
        <h5>Control Panel</h5>
        <form id="controlPanelForm" method="POST" action="/explore_tree/{{treename}}">
            <!-- Control Panel Tabs -->
            <ul class="nav nav-tabs" id="controlPanelTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="layout-settings-tab" data-toggle="tab" href="#layoutSettings"
                        role="tab" aria-controls="layoutSettings" aria-selected="true">Layout Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="custom-query-tab" data-toggle="tab" href="#customQueryTab" role="tab"
                        aria-controls="customQueryTab" aria-selected="false">Custom Query</a>
                </li>
            </ul>

            <div class="tab-content" id="controlPanelTabContent">
                <!-- Layout Settings Tab -->
                <div class="tab-pane fade show active" id="layoutSettings" role="tabpanel"
                    aria-labelledby="layout-settings-tab">
                    <!-- Layout Selection -->
                    <div class="form-group mt-3">
                        <h5>Select Layout Option</h5>
                        <select class="form-control" id="layout" name="layout">
                            <option value=""></option>
                            <optgroup label="Categorical">
                                <option value="colorbranch-layout">Color Branch Layout</option>
                                <option value="label-layout">Label Layout</option>
                                <option value="rectangle-layout">Rectangular Layout</option>
                                <option value="categorical-bubble-layout">Bubble Layout</option>
                                <option value="background-layout">Background Layout</option>
                                <option value="categorical-matrix-layout">Categorical Matrix Layout</option>
                                <option value="piechart-layout">Piechart Layout</option>
                                <option value="profiling-layout">Profiling Layout</option>
                            </optgroup>
                            <optgroup label="Binary">
                                <option value="binary-layout">Binary Layout</option>
                            </optgroup>
                            <optgroup label="Numerical">
                                <option value="branchscore-layout">Color Branch Layout</option>
                                <option value="heatmap-layout">Heatmap Layout</option>
                                <option value="heatmap-mean-layout">Heatmap Mean Layout</option>
                                <option value="heatmap-zscore-layout">Heatmap Z-Score Layout</option>
                                <option value="barplot-layout">Barplot Layout</option>
                                <option value="numerical-matrix-layout">Numerical Matrix Layout</option>
                                <option value="numerical-bubble-layout">Bubble Layout</option>
                            </optgroup>
                            <optgroup label="Analytic">
                                <option value="acr-discrete-layout">ACR Discrete Layout</option>
                                <option value="acr-continuous-layout">ACR Continuous Layout</option>
                                <option value="ls-layout">LS Layout</option>
                            </optgroup>
                            <optgroup label="Taxonomy">
                                <option value="taxonclade-layout">Taxon Clade Layout</option>
                                <option value="taxonrectangle-layout">Taxon Rectangle Layout</option>
                                <option value="taxoncollapse-layout">Taxon Collapse Layout</option>
                            </optgroup>
                            <option value="emapper-layout">EggNOG-mapper Layout</option>
                            <option value="domain-layout">Domain Layout</option>
                            <option value="alignment-layout">Alignment Layout</option>
                        </select>
                    </div>

                    <!-- Properties Selection -->
                    <div id="propsSelection" class="form-group mt-3">
                        <label for="props">Select Properties to Visualize:</label>
                        <select multiple class="form-control" id="props" name="props">
                            % for prop in tree_info['node_props']:
                            <option value="{{ prop }}">{{ prop }}</option>
                            % end
                        </select>
                        <small class="form-text text-muted">Hold down Ctrl (Windows) or Command (Mac) to select multiple
                            options.</small>
                    </div>

                    <!-- General Settings -->
                    <div id="generalSettings" class="form-group mt-3">
                        <h5>General Settings</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="columnWidth">Width</label>
                                <input type="number" class="form-control" id="columnWidth" name="columnWidth"
                                    placeholder="Enter column width" value="70">
                            </div>
                            <div class="col-md-4">
                                <label for="paddingX">Padding X</label>
                                <input type="number" class="form-control" id="paddingX" name="paddingX"
                                    placeholder="Enter padding X" value="1">
                            </div>
                            <div class="col-md-4">
                                <label for="paddingY">Padding Y</label>
                                <input type="number" class="form-control" id="paddingY" name="paddingY"
                                    placeholder="Enter padding Y" value="0">
                            </div>
                        </div>
                        <!-- Numerical-Specific Settings -->
                        <div id="internalNumerical" class="form-group mt-3" style="display: none;">
                            <label for="internalNumRep">Internal Number Representation</label>
                            <select class="form-control" id="internalNumRep" name="internalNumRep">
                                <option value="avg">Average</option>
                                <option value="sum">Sum</option>
                                <option value="max">Maximum</option>
                                <option value="min">Minimum</option>
                                <option value="std">Standard Deviation</option>
                                <option value="none">None</option>
                            </select>
                        </div>
                    </div>

                    <!-- Categorical Layout Settings -->
                    <div id="categoricalSettings" class="form-group mt-3" style="display: none;">
                        <label for="props">Color Scheme</label>
                        <select class="form-control" id="categoricalColorscheme" name="categoricalColorscheme">
                            % for colormap in color_schemes:
                            <option value="{{ colormap }}">{{ colormap }}</option>
                            % end
                        </select>
                    </div>
                    <!-- Binary layout settings -->
                    <div id="binarySettings" class="form-group mt-3" style="display: none;">
                        <h5>Settings for Binary Layout</h5>

                        <!-- Unicolor Option -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="unicolor" id="unicolorOption"
                                name="unicolorOption">
                            <label class="form-check-label" for="unicolorOption">
                                Use Unicolor
                            </label>
                        </div>

                        <!-- Unicolor Color Picker (Only visible when Unicolor is checked) -->
                        <div id="unicolorPicker" class="form-group mt-2" style="display: none;">
                            <label for="unicolorColor">Select Unicolor:</label>
                            <input type="color" id="unicolorColor" name="unicolorColor" class="form-control"
                                value="#0000ff">
                        </div>

                        <!-- Color Scheme Dropdown (Only visible when Unicolor is unchecked) -->
                        <div id="binaryColorScheme" class="form-group mt-2" style="display: block;">
                            <label for="binaryColorSchemeSelect">Select Color Scheme:</label>
                            <select class="form-control" id="binaryColorSchemeSelect" name="binaryColorScheme">
                                % for colormap in color_schemes:
                                <option value="{{ colormap }}">{{ colormap }}</option>
                                % end
                            </select>
                        </div>

                        <!-- Aggregate Option as Dropdown -->
                        <div id="aggregateSettings" class="form-group mt-2">
                            <label for="aggregateOption">Summary for Collapsed Nodes: </label>
                            <select class="form-control" id="aggregateOption" name="aggregateOption">
                                <option value="gradient">Gradient</option>
                                <option value="aggregate">Aggregate</option>
                            </select>
                        </div>
                    </div>
                    <!-- Numerical Settings Section -->
                    <div id="numericalSettings" class="form-group mt-3" style="display: none;">
                        <label for="minVal">Minimum Value (Auto detected if it is empty):</label>
                        <input type="number" class="form-control" id="minVal" name="min_val"
                            placeholder="Enter min value">

                        <label for="maxVal" class="mt-2">Maximum Value (Auto detected if it is empty):</label>
                        <input type="number" class="form-control" id="maxVal" name="max_val"
                            placeholder="Enter max value">

                        <!-- Color Selection -->
                        <div class="form-row mt-2">
                            <div class="col">
                                <label for="colorMin">Color Min:</label>
                                <input type="color" class="form-control" id="colorMin" name="color_min" value="#0000ff">
                            </div>
                            <div class="col">
                                <label for="colorMid">Color Mid:</label>
                                <input type="color" class="form-control" id="colorMid" name="color_mid" value="#ffffff">
                            </div>
                            <div class="col">
                                <label for="colorMax">Color Max:</label>
                                <input type="color" class="form-control" id="colorMax" name="color_max" value="#ff0000">
                            </div>
                        </div>
                    </div>
                    <!-- Barplot -->
                    <div id="barplotOptions" class="form-group mt-3" style="display: none;">
                        <label for="barplotWidth">Barplot Column Width (px):</label>
                        <input type="number" class="form-control" id="barplotWidth" name="barplotWidth"
                            placeholder="Enter width" value="200">


                        <label for="barplotScaleProperty" class="mt-2">Scale Based On Property:</label>
                        <select class="form-control" id="barplotScaleProperty" name="barplotScaleProperty">
                        </select>

                        <label for="barplotRange" class="mt-2">Custom Barplot Scale (Max Value):</label>
                        <input type="number" class="form-control" id="barplotRange" name="barplotRange"
                            placeholder="Enter max value for the property">

                        <label for="barplotColorOption" class="mt-2">Barplot Color:</label>
                        <select class="form-control" id="barplotColorOption" name="barplotColorOption">
                            <option value="same">Color Scheme</option>
                            <option value="colorby">Fill by Property</option>
                        </select>

                        <!-- Conditional color selector or property selector -->
                        <div id="barplotColorSettings" class="mt-2">
                            <!-- Color input for 'same' option -->
                            <div class="form-group mt-3">
                                <label for="barplotColor">Barplot Color</label>
                                <select class="form-control" id="barplotColorScheme" name="barplotColorScheme">
                                    % for colormap in color_schemes:
                                    <option value="{{ colormap }}">{{ colormap }}</option>
                                    % end
                                </select>
                            </div>

                            <!-- Property dropdown for 'colorby' option -->
                            <select class="form-control" id="barplotFillProperty" name="barplotFillProperty"
                                style="display: none;">
                                % for prop in tree_info['node_props']:
                                <option value="{{ prop }}">{{ prop }}</option>
                                % end
                            </select>
                        </div>
                    </div>

                    <!-- Alignment settings -->
                    <div id="alignmentSettings" class="form-group mt-3" style="display: none;">
                        <label for="alignmentType">Alignment window:</label>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="alignment">Start</label>
                                <input type="number" class="form-control" id="algStart" name="algStart"
                                    placeholder="Enter start pos">
                            </div>
                            <div class="col-md-4">
                                <label for="alignment">End</label>
                                <input type="number" class="form-control" id="algEnd" name="algEnd"
                                    placeholder="Enter end pos">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Custom Query Tab -->
                <div class="tab-pane fade" id="customQueryTab" role="tabpanel" aria-labelledby="custom-query-tab">
                    <div id="customQuery" class="mt-3">
                        <h5>Custom Query</h5>
                        <div class="form-group">
                            <label for="customQueryType">Select Query Type:</label>
                            <select class="form-control" id="customQueryType" name="customQueryType">
                                <option value=""></option>
                                <option value="highlight">Highlight</option>
                                <option value="collapse">Collapse</option>
                                <option value="prune">Prune</option>
                                <option value="rank_limit">Rank Limit (for taxonomic trees only)</option>
                            </select>
                        </div>
                        <div id="queryFields" class="form-group mt-3">
                            <label for="queryProp">Property</label>
                            <select class="form-control" id="queryProp" name="queryProp">
                                % for prop in selected_props:
                                <option value="{{ prop }}">{{ prop }}</option>
                                % end
                            </select>
                            <label for="queryOperation" class="mt-2">Operation</label>
                            <select class="form-control" id="queryOperation" name="queryOperation">
                                <option value="=">Equals</option>
                                <option value="!=">Not Equals</option>
                                <option value="contains">Contains</option>
                                <option value="&gt;">Greater Than</option>
                                <option value="&lt;">Less Than</option>
                            </select>
                            <label for="queryValue" class="mt-2">Value</label>
                            <input type="text" class="form-control" id="queryValue" name="queryValue"
                                placeholder="Enter value">
                            <div class="btn-group mt-3">
                                <button type="button" class="btn btn-secondary" id="addQueryBtn">ADD</button>
                                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#" id="addWithAnd">Add with AND</a></li>
                                    <li><a class="dropdown-item" href="#" id="addWithOr">Add with OR</a></li>
                                </ul>
                            </div>
                            <textarea class="form-control mt-3" id="queryBox" name="queryBox" rows="3"
                                readonly></textarea>
                            <small><a href="#" id="clearQueryBox" class="text-danger">Clear Query</a></small>
                        </div>
                        <div id="taxonomicOptions" class="form-group mt-3" style="display:none">
                            <label for="rankSelection" class="form-label">Select Taxonomic Rank</label>
                            <select id="rankSelection" name="taxonomicRanks" class="form-control">
                                <option value="Kingdom">Kingdom</option>
                                <option value="Phylum">Phylum</option>
                                <option value="Class">Class</option>
                                <option value="Order">Order</option>
                                <option value="Family">Family</option>
                                <option value="Genus">Genus</option>
                                <option value="Species">Species</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Layer Management Section -->
            <div class="mt-4">
                <h5>Manage Layers</h5>
                <ul id="layerList" class="list-group mb-3"></ul>
                <button type="button" id="addLayerBtn" class="btn btn-secondary mb-3">Add Layer</button>
                <button type="button" id="applyLayersBtn" class="btn btn-success mb-3">Apply Layers</button>
            </div>
        </form>
        <div class="control-panel-footer mt-4">
            <button class="btn btn-primary" onclick="window.location.reload();">Refresh</button>
            <button class="btn btn-secondary" id="fullscreenBtn">Fullscreen</button>
        </div>

    </div>

    <!-- Main Content -->
    <div class="container-fluid mt-4">
        <h1>Explore Tree: {{treename}}</h1>

        <!-- Iframe container -->
        <div class="position-relative mt-3">
            <iframe src="http://localhost:5051" id="treeIframe" width="100%" height="800px" frameborder="0"
                allowfullscreen></iframe>
        </div>
        <!-- Back Home Button -->
        <div class="mt-3">
            <a href="/stop_explore" class="btn btn-primary">Back Home</a>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            // Enable Bootstrap tab functionality explicitly
            $('#controlPanelTabs a[data-toggle="tab"]').on('click', function (e) {
                e.preventDefault();
                $(this).tab('show');
            });

            // Toggle control panel display
            const controlPanel = document.getElementById("controlPanel");
            const controlPanelTab = document.getElementById("controlPanelTab");

            controlPanelTab.addEventListener("click", function () {
                controlPanel.style.display = controlPanel.style.display === "none" ? "block" : "none";
            });

            initializeSelect2();
            setupEventListeners();
        });

        /*********************
         * Initialization Functions
         *********************/
        // Initialize Select2 dropdowns
        function initializeSelect2() {
            $('#props').select2({
                placeholder: "Type to search properties",
                allowClear: true,
                width: '100%'
            });

            $('#queryProp').select2({
                placeholder: "Type to search properties",
                allowClear: true,
                width: '100%'
            });
        }

        // Set up event listeners for UI elements
        function setupEventListeners() {
            document.getElementById('controlPanelTab').addEventListener('click', toggleControlPanel);
            document.getElementById('layout').addEventListener('change', function () {
                const selectedLayout = $(this).val();
                // Check if the selected layout is one of the categorical layouts
                const categoricalLayouts = [
                    "colorbranch-layout",
                    "label-layout",
                    "rectangle-layout",
                    "categorical-bubble-layout",
                    "background-layout",
                    "categorical-matrix-layout",
                    "piechart-layout",
                    "profiling-layout"
                ];

                if (categoricalLayouts.includes(selectedLayout)) {
                    $('#categoricalSettings').show();
                } else {
                    $('#categoricalSettings').hide();
                }

                if (selectedLayout === "binary-layout") {
                    $('#binarySettings').show();
                } else {
                    $('#binarySettings').hide();
                }

                // numerical layout settings
                // Detect if a layout option is numerical
                const numericalLayouts = [
                    "branchscore-layout", "heatmap-layout", "heatmap-mean-layout",
                    "heatmap-zscore-layout", "numerical-matrix-layout",
                    "numerical-bubble-layout"
                ];
                if (numericalLayouts.includes(selectedLayout)) {
                    $('#numericalSettings').show();
                    $('#internalNumerical').show();
                } else {
                    $('#numericalSettings').hide();
                    $('#internalNumerical').hide();
                }

                // Barplot layout settings
                if (selectedLayout === "barplot-layout") {
                    $('#barplotOptions').show();
                } else {
                    $('#barplotOptions').hide();
                }
                // Toggle color picker or property selector based on color option choice
                $('#barplotColorOption').change(function () {
                    if ($(this).val() === 'same') {
                        $('#barplotColorScheme').show();
                        $('#barplotFillProperty').hide();
                    } else if ($(this).val() === 'colorby') {
                        $('#barplotColorScheme').hide();
                        $('#barplotFillProperty').show();
                    }
                });

                // Alignment layout settings
                if (selectedLayout === "alignment-layout") {
                    $('#alignmentSettings').show();
                    $('#propsSelection').hide();
                    $('#generalSettings').hide();
                } else {
                    $('#alignmentSettings').hide();
                    $('#propsSelection').show();
                    $('#generalSettings').show();
                }

                // Domain layout settings
                if (selectedLayout === "domain-layout") {
                    $('#propsSelection').hide();
                    $('#generalSettings').hide();
                } else {
                    $('#propsSelection').show();
                    $('#generalSettings').show();
                }
            });
            // Update barplot scale options when properties are selected
            $('#props').change(function () {
                const selectedProps = $(this).val(); // Get selected properties in #props

                // Clear and repopulate the #barplotScaleProperty options based on selectedProps
                const barplotScaleProperty = $('#barplotScaleProperty');
                barplotScaleProperty.empty(); // Clear existing options

                barplotScaleProperty.append(new Option("", "")); // Add an empty option as the first choice

                if (selectedProps && selectedProps.length > 0) {
                    selectedProps.forEach(function (prop) {
                        barplotScaleProperty.append(new Option(prop, prop)); // Add each selected prop as an option
                    });
                }
            });
            document.getElementById('unicolorOption').addEventListener('change', function () {
                const unicolorPicker = document.getElementById('unicolorPicker');
                const binaryColorScheme = document.getElementById('binaryColorScheme');
                if (this.checked) {
                    unicolorPicker.style.display = 'block';
                    binaryColorScheme.style.display = 'none';
                } else {
                    unicolorPicker.style.display = 'none';
                    binaryColorScheme.style.display = 'block';
                }
            });
            document.getElementById('customQueryType').addEventListener('change', toggleQueryFields);
            document.getElementById('clearQueryBox').addEventListener('click', clearQueryBox);
            document.getElementById('addQueryBtn').addEventListener('click', addInitialQueryPart);
            document.getElementById('addLayerBtn').addEventListener('click', addLayer);
            document.getElementById('applyLayersBtn').addEventListener('click', applyLayers);
            $('#queryProp').on('select2:select', handleDynamicCounterInput);
            $('#queryProp').on('select2:unselect', removeCounterInputField);


        }

        /*********************
         * UI Toggle Functions
         *********************/
        function toggleControlPanel() {
            document.getElementById('controlPanel').classList.toggle('minimized');
        }

        function showLayoutOptions() {
            document.getElementById('layoutSelection').style.display = 'block';
            document.getElementById('propsSelection').style.display = 'block';
            document.getElementById('customQuery').style.display = 'block';
        }

        function toggleQueryFields() {
            const queryType = document.getElementById('customQueryType').value;
            const queryFields = document.getElementById('queryFields');
            const taxonomicOptions = document.getElementById('taxonomicOptions');

            if (queryType === 'rank_limit') {
                queryFields.style.display = 'none';
                taxonomicOptions.style.display = 'block';
            } else {
                queryFields.style.display = 'block';
                taxonomicOptions.style.display = 'none';
            }
            resetQueryButton();
        }


        /*********************
         * Layer Management Functions
         *********************/
        let layers = [];

        function addLayer() {
            const layout = document.getElementById('layout').value;
            const props = $('#props').val();
            const queryType = document.getElementById('customQueryType').value;
            const query = document.getElementById('queryBox').value;

            // Categorical layout settings
            const categoricalColorscheme = document.getElementById('categoricalColorscheme').value;
            // Binary layout settings
            const isUnicolor = document.getElementById('unicolorOption').checked;
            const binaryColorScheme = isUnicolor ? null : document.getElementById('binaryColorSchemeSelect').value;
            const unicolorColor = isUnicolor ? document.getElementById('unicolorColor').value : null;
            const aggregateOption = document.getElementById('aggregateOption').value;

            // numerical layout settings
            const minVal = document.getElementById('minVal').value;
            const maxVal = document.getElementById('maxVal').value;
            const colorMin = document.getElementById('colorMin').value;
            const colorMid = document.getElementById('colorMid').value;
            const colorMax = document.getElementById('colorMax').value;

            // Barplot layout settings
            const barplotWidth = document.getElementById('barplotWidth').value;
            const barplotScaleProperty = document.getElementById('barplotScaleProperty').value;
            const barplotRange = document.getElementById('barplotRange').value;
            const barplotColorOption = document.getElementById('barplotColorOption').value;
            const barplotColorScheme = document.getElementById('barplotColorScheme').value;
            const barplotFillProperty = document.getElementById('barplotFillProperty').value;

            // alignment layout settings
            const algStart = document.getElementById('algStart').value;
            const algEnd = document.getElementById('algEnd').value;

            const layer = {
                layout,
                props,
                queryType,
                query,
                categoricalColorscheme,
                isUnicolor,
                binaryColorScheme,
                unicolorColor,
                aggregateOption,
                minVal,
                maxVal,
                colorMin,
                colorMid,
                colorMax,
                barplotWidth,
                barplotScaleProperty,
                barplotRange,
                barplotColorOption,
                barplotColorScheme,
                barplotFillProperty,
                algStart,
                algEnd
            };
            layers.push(layer);
            renderLayers();
            clearInputs();
        }

        function renderLayers() {
            const layerList = document.getElementById('layerList');
            layerList.innerHTML = '';

            layers.forEach((layer, index) => {
                const layerItem = document.createElement('li');
                layerItem.className = 'list-group-item d-flex justify-content-between align-items-center';
                layerItem.textContent = `Layer ${index + 1}: ${layer.layout} (${layer.queryType || 'No Query'})`;

                const deleteButton = document.createElement('button');
                deleteButton.className = 'btn btn-sm btn-danger';
                deleteButton.textContent = 'Delete';
                deleteButton.onclick = () => {
                    layers.splice(index, 1);
                    renderLayers();
                };

                layerItem.appendChild(deleteButton);
                layerList.appendChild(layerItem);
            });
        }

        function clearInputs() {
            document.getElementById('layout').value = '';
            $('#props').val(null).trigger('change');
            document.getElementById('customQueryType').value = '';
            document.getElementById('queryBox').value = '';
        }

        function applyLayers() {
            // Collect general settings
            const columnWidth = document.getElementById("columnWidth").value || null;
            const paddingX = document.getElementById("paddingX").value || null;
            const paddingY = document.getElementById("paddingY").value || null;

            // Numerical-specific setting (applies only if a numerical layout exists in layers)
            let internalNumRep = null;
            const numericalLayouts = [
                "branchscore-layout",
                "heatmap-layout",
                "heatmap-mean-layout",
                "heatmap-zscore-layout",
                "barplot-layout",
                "numerical-matrix-layout",
                "numerical-bubble-layout",
            ];
            if (layers.some(layer => numericalLayouts.includes(layer.layout))) {
                internalNumRep = document.getElementById("internalNumRep").value || null;
            }
            // Prepare layers data
            const layersData = JSON.stringify(layers);
            $.post(
                '/explore_tree/{{treename}}',
                {
                    layers: layersData,
                    column_width: columnWidth,
                    padding_x: paddingX,
                    padding_y: paddingY,
                    internal_num_rep: internalNumRep
                },
                function (response) {
                    console.log('Layers applied:', layersData);
                    window.location.reload();
                });
        }

        /*********************
         * Query Management Functions
         *********************/
        let queryParts = [];
        document.getElementById('addWithAnd').addEventListener('click', function () {
            document.getElementById('addQueryBtn').innerText = 'AND';
        });

        document.getElementById('addWithOr').addEventListener('click', function () {
            document.getElementById('addQueryBtn').innerText = 'OR';
        });

        function resetQueryButton() {
            document.getElementById('addQueryBtn').innerText = 'ADD';
            queryParts = [];
            document.getElementById('queryBox').value = '';
        }

        function addInitialQueryPart() {
            // Check if the queryBox is empty
            if (document.getElementById('queryBox').value === '') {
                // Pass the operator to addQueryPart
                addQueryPart();
            } else{
                // Get the operator from the Add Query button's inner text
                const operator = document.getElementById('addQueryBtn').innerText.trim();
                if (operator === 'AND' || operator === 'OR') {
                    addQueryPart(operator);
                } else {
                    alert("Please select an operator before adding another query part.");
                }
            }
        }

        function addQueryPart(operator = '') {
            const queryType = document.getElementById('customQueryType').value;
            const prop = document.getElementById('queryProp').value.trim();
            const operation = document.getElementById('queryOperation').value;
            const value = document.getElementById('queryValue').value.trim();
            const counterInputElement = document.querySelector('.counter-input');
            const counterValue = counterInputElement ? counterInputElement.value : null;

            if (!queryType) {
                alert("Please select a query type.");
                return;
            }

            if (!prop || !value) {
                alert("Please fill in all query fields.");
                //resetQueryButton();
                return;
            }

            // Build the query part
            const queryPart = counterValue ? `${prop}:${counterValue} > ${value}` : `${prop} ${operation} ${value}`;
            
            // Add the operator at the beginning if it's valid and there are existing query parts
            const fullQueryPart = (operator && queryParts.length > 0 && (operator === 'AND' || operator === 'OR')) 
                ? `${operator} ${queryPart}` 
                : queryPart;

            // Push the full query part to the queryParts array
            queryParts.push(fullQueryPart);

            // Update the query box with all query parts
            document.getElementById('queryBox').value = queryParts.join(' ') + ';';

            // Reset the input fields for the next query
            document.getElementById('queryValue').value = '';
        }

        /*********************
         * Additional Input Handlers
         *********************/
        function handleDynamicCounterInput(e) {
            var selectedProperty = e.params.data.id;
            if (selectedProperty.endsWith('_counter')) {
                const counterField = `
                    <div class="form-group" id="input-${selectedProperty}">
                        <label for="counterInput">Prop for ${selectedProperty}</label>
                        <input type="text" class="form-control counter-input"
                            id="counterInput"
                            data-prop="${selectedProperty}"
                            placeholder="Enter Counter prop">
                    </div>`;
                $('#dynamicCounterProps').append(counterField);
            }
        }

        function removeCounterInputField(e) {
            const unselectedProperty = e.params.data.id;
            if (unselectedProperty.endsWith('_counter')) {
                $(`#input-${unselectedProperty}`).remove();
                $('#queryResult').val('');
            }
        }

        function clearQueryBox(event) {
            event.preventDefault();
            document.getElementById('queryBox').value = '';
            queryParts = [];
            resetQueryButton();
        }
    </script>
    <script>
        <!-- Fullscreen Button Script -->
        const togglebtn = document.getElementById("fullscreenBtn");
        const iframe = document.getElementById("treeIframe");

        togglebtn.addEventListener("click", function () {
            if (iframe.requestFullscreen) {
                iframe.requestFullscreen();
            } else if (iframe.mozRequestFullScreen) { // Firefox
                iframe.mozRequestFullScreen();
            } else if (iframe.webkitRequestFullscreen) { // Chrome,Safari,Opera
                iframe.webkitRequestFullscreen();
            } else if (iframe.msRequestFullscreen) { // I.E, Edge
                iframe.msRequestFullscreen();
            }
        });
    </script>
</body>

</html>