<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Tree: {{treename}}</title>
    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>

    <style>
        .control-panel {
            position: fixed;
            top: 20px;
            right: 20px;
            width: 400px;
            max-height: 90vh;
            overflow-y: auto;
            padding: 15px;
            background-color: #f8f9fa;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            z-index: 1000;
        }

        .btn-small {
            font-size: 0.85rem;
            padding: 5px 10px;
        }

        .layout-settings {
            display: none;
        }
    </style>
</head>
<body>
    <div class="control-panel">
        <h5>Properties Table</h5>

        <div class="mb-2">
            <button id="selectAllProps" class="btn btn-sm btn-primary me-2">Select All</button>
            <button id="deselectAllProps" class="btn btn-sm btn-secondary">Deselect All</button>
        </div>
        <!-- Properties Table -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Property Name</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody id="propertiesTable">
                % for prop in tree_info['node_props']:
                <tr>
                    <td><input type="checkbox" class="selectProperty" value="{{prop}}"></td>
                    <td>{{prop}}</td>
                    <td class="propType">{{tree_info['prop2type'][prop]}}</td>
                </tr>
                % end
            </tbody>
        </table>

        <button id="applyLayoutBtn" class="btn btn-primary mt-3">Select Layout</button>

        <!-- Layout Configuration Section -->
        <div id="layoutConfigSection" class="layout-settings mt-3">
            <h5>Configure Layout</h5>
            <select class="form-control" id="layout" name="layout">
                <optgroup label="Categorical">
                    <option value="colorbranch-layout">Color Branch Layout</option>
                    <option value="label-layout">Label Layout</option>
                    <option value="rectangle-layout">Rectangular Layout</option>
                    <option value="categorical-bubble-layout">Bubble Layout</option>
                    <option value="background-layout">Background Layout</option>
                    <option value="categorical-matrix-layout">Categorical Matrix Layout</option>
                    <option value="piechart-layout">Piechart Layout</option>
                    <option value="profiling-layout">Profiling Layout</option>
                </optgroup>
                <optgroup label="Binary">
                    <option value="binary-layout">Binary Layout</option>
                </optgroup>
                <optgroup label="Numerical">
                    <option value="branchscore-layout">Color Branch Layout</option>
                    <option value="heatmap-layout">Heatmap Layout</option>
                    <option value="heatmap-mean-layout">Heatmap Mean Layout</option>
                    <option value="heatmap-zscore-layout">Heatmap Z-Score Layout</option>
                    <option value="barplot-layout">Barplot Layout</option>
                    <option value="numerical-matrix-layout">Numerical Matrix Layout</option>
                    <option value="numerical-bubble-layout">Bubble Layout</option>
                </optgroup>
                <optgroup label="Analytic">
                    <option value="acr-discrete-layout">ACR Discrete Layout</option>
                    <option value="acr-continuous-layout">ACR Continuous Layout</option>
                    <option value="ls-layout">LS Layout</option>
                </optgroup>
                <optgroup label="Taxonomy">
                    <option value="taxonclade-layout">Taxon Clade Layout</option>
                    <option value="taxonrectangle-layout">Taxon Rectangle Layout</option>
                    <option value="taxoncollapse-layout">Taxon Collapse Layout</option>
                </optgroup>
                <option value="emapper-layout">EggNOG-mapper Layout</option>
                <option value="domain-layout">Domain Layout</option>
                <option value="alignment-layout">Alignment Layout</option>
            </select>
            <div id="layoutSettings" class="form-group mt-3">
                <h5>General Settings</h5>
                <div class="row">
                    <div class="col-md-4">
                        <!-- Add additional layout-specific settings here -->
                        <label for="columnWidth">Col Width</label>
                        <input type="number" id="columnWidth" name="columnWidth" class="form-control" placeholder="Enter column width" value="70">
                    </div>
                    <div class="col-md-4">
                        <label for="paddingX">Padding X</label>
                        <input type="number" class="form-control" id="paddingX" name="paddingX"
                            placeholder="Enter padding X" value="1">
                    </div>
                    <div class="col-md-4">
                        <label for="paddingY">Padding Y</label>
                        <input type="number" class="form-control" id="paddingY" name="paddingY"
                            placeholder="Enter padding Y" value="0">
                    </div>
                </div>
                <!-- Numerical-Specific Settings -->
                <div id="internalNumerical" class="form-group mt-3" style="display: none;">
                    <label for="internalNumRep">Internal Number Representation</label>
                    <select class="form-control" id="internalNumRep" name="internalNumRep">
                        <option value="avg">Average</option>
                        <option value="sum">Sum</option>
                        <option value="max">Maximum</option>
                        <option value="min">Minimum</option>
                        <option value="std">Standard Deviation</option>
                        <option value="none">None</option>
                    </select>
                </div>

                <!-- Categorical Layout Settings -->
                <div id="categoricalSettings" class="form-group mt-3" style="display: none;">
                    <label for="props">Color Scheme</label>
                    <select class="form-control" id="categoricalColorscheme" name="categoricalColorscheme">
                        % for colormap in color_schemes:
                        <option value="{{ colormap }}">{{ colormap }}</option>
                        % end
                    </select>
                </div>

                <!-- Binary layout settings -->
                <div id="binarySettings" class="form-group mt-3" style="display: none;">
                    <h5>Settings for Binary Layout</h5>

                    <!-- Unicolor Option -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="unicolor" id="unicolorOption"
                            name="unicolorOption">
                        <label class="form-check-label" for="unicolorOption">
                            Use Unicolor
                        </label>
                    </div>

                    <!-- Unicolor Color Picker (Only visible when Unicolor is checked) -->
                    <div id="unicolorPicker" class="form-group mt-2" style="display: none;">
                        <label for="unicolorColor">Select Unicolor:</label>
                        <input type="color" id="unicolorColor" name="unicolorColor" class="form-control"
                            value="#0000ff">
                    </div>

                    <!-- Color Scheme Dropdown (Only visible when Unicolor is unchecked) -->
                    <div id="binaryColorScheme" class="form-group mt-2" style="display: block;">
                        <label for="binaryColorSchemeSelect">Select Color Scheme:</label>
                        <select class="form-control" id="binaryColorSchemeSelect" name="binaryColorScheme">
                            % for colormap in color_schemes:
                            <option value="{{ colormap }}">{{ colormap }}</option>
                            % end
                        </select>
                    </div>

                    <!-- Aggregate Option as Dropdown -->
                    <div id="aggregateSettings" class="form-group mt-2">
                        <label for="aggregateOption">Summary for Collapsed Nodes: </label>
                        <select class="form-control" id="aggregateOption" name="aggregateOption">
                            <option value="gradient">Gradient</option>
                            <option value="aggregate">Aggregate</option>
                        </select>
                    </div>
                </div>

                <!-- Numerical Settings Section -->
                <div id="numericalSettings" class="form-group mt-3" style="display: none;">
                    <label for="minVal">Minimum Value (Auto detected if it is empty):</label>
                    <input type="number" class="form-control" id="minVal" name="min_val"
                        placeholder="Enter min value">

                    <label for="maxVal" class="mt-2">Maximum Value (Auto detected if it is empty):</label>
                    <input type="number" class="form-control" id="maxVal" name="max_val"
                        placeholder="Enter max value">

                    <!-- Color Selection -->
                    <div class="form-row mt-2">
                        <div class="col">
                            <label for="colorMin">Color Min:</label>
                            <input type="color" class="form-control" id="colorMin" name="color_min" value="#0000ff">
                        </div>
                        <div class="col">
                            <label for="colorMid">Color Mid:</label>
                            <input type="color" class="form-control" id="colorMid" name="color_mid" value="#ffffff">
                        </div>
                        <div class="col">
                            <label for="colorMax">Color Max:</label>
                            <input type="color" class="form-control" id="colorMax" name="color_max" value="#ff0000">
                        </div>
                    </div>
                </div>

                <!-- Barplot -->
                <div id="barplotOptions" class="form-group mt-3" style="display: none;">
                    <label for="barplotWidth">Barplot Column Width (px):</label>
                    <input type="number" class="form-control" id="barplotWidth" name="barplotWidth"
                        placeholder="Enter width" value="200">


                    <label for="barplotScaleProperty" class="mt-2">Scale Based On Property:</label>
                    <select class="form-control" id="barplotScaleProperty" name="barplotScaleProperty">
                    </select>

                    <label for="barplotRange" class="mt-2">Custom Barplot Scale (Max Value):</label>
                    <input type="number" class="form-control" id="barplotRange" name="barplotRange"
                        placeholder="Enter max value for the property">

                    <label for="barplotColorOption" class="mt-2">Barplot Color:</label>
                    <select class="form-control" id="barplotColorOption" name="barplotColorOption">
                        <option value="same">Color Scheme</option>
                        <option value="colorby">Fill by Property</option>
                    </select>

                    <!-- Conditional color selector or property selector -->
                    <div id="barplotColorSettings" class="mt-2">
                        <!-- Color input for 'same' option -->
                        <div class="form-group mt-3">
                            <label for="barplotColor">Barplot Color</label>
                            <select class="form-control" id="barplotColorScheme" name="barplotColorScheme">
                                % for colormap in color_schemes:
                                <option value="{{ colormap }}">{{ colormap }}</option>
                                % end
                            </select>
                        </div>

                        <!-- Property dropdown for 'colorby' option -->
                        <select class="form-control" id="barplotFillProperty" name="barplotFillProperty"
                            style="display: none;">
                            % for prop in tree_info['node_props']:
                            <option value="{{ prop }}">{{ prop }}</option>
                            % end
                        </select>
                    </div>
                </div>

                <!-- Alignment settings -->
                <div id="alignmentSettings" class="form-group mt-3" style="display: none;">
                    <label for="alignmentType">Alignment window:</label>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="alignment">Start</label>
                            <input type="number" class="form-control" id="algStart" name="algStart"
                                placeholder="Enter start pos">
                        </div>
                        <div class="col-md-4">
                            <label for="alignment">End</label>
                            <input type="number" class="form-control" id="algEnd" name="algEnd"
                                placeholder="Enter end pos">
                        </div>
                    </div>
                </div>
            </div>
            <button id="addLayerBtn" class="btn btn-primary mt-3">Add Layout</button>
        </div>

        <!-- Non-Properties-Based Layouts -->
        <h5 class="mt-4">Activate Pre-Annotated Layouts</h5>
        % if tree_info['taxonomic_annotation']:
        <h6>Taxonomic Layouts</h6>
        <select id="taxonomicLayoutSelect" class="form-control mb-2">
            <option value="taxonclade-layout">Taxon Clade Layout</option>
            <option value="taxonrectangle-layout">Taxon Rectangle Layout</option>
            <option value="taxoncollapse-layout">Taxon Collapse Layout</option>
        </select>
        <button id="activateTaxonomicLayout" class="btn btn-secondary mb-3">Activate Taxonomic Layout</button>
        % end

        % if tree_info['alignment_annotation']:
        <button id="activateAlignmentLayout" class="btn btn-secondary mb-3">Activate Alignment Layout</button>
        % end

        % if tree_info['domain_annotation']:
        <button id="activateDomainLayout" class="btn btn-secondary mb-3">Activate Domain Layout</button>
        % end

    </div>

    <!-- Main Content -->
    <div class="container-fluid mt-4">
        <h1>Explore Tree: {{treename}}</h1>

        <!-- Iframe container -->
        <div class="position-relative mt-3">
            <iframe src="http://localhost:5051" id="treeIframe" width="100%" height="800px" frameborder="0"
                allowfullscreen></iframe>
        </div>
        <!-- Back Home Button -->
        <div class="mt-3">
            <a href="/stop_explore" class="btn btn-primary">Back Home</a>
        </div>
    </div>
    <script>
        // Track selected properties
        let layers = [];
        const selectedProperties = [];
        
        // Handle Select All button
        $('#selectAllProps').click(() => {
            $('.selectProperty').prop('checked', true);
            updateSelectedProperties();
        });
    
        // Handle Deselect All button
        $('#deselectAllProps').click(() => {
            $('.selectProperty').prop('checked', false);
            updateSelectedProperties();
        });
    
        // Update selected properties array
        function updateSelectedProperties() {
            selectedProperties.length = 0; // Clear current selections
            $('.selectProperty:checked').each(function () {
                selectedProperties.push($(this).val());
            });
        }
    
        // Handle individual property selection
        $(document).on('change', '.selectProperty', function () {
            updateSelectedProperties();
        });
    
        // Show Layout Config Section
        $('#applyLayoutBtn').click(() => {
            if (selectedProperties.length === 0) {
                alert('Please select at least one property.');
                return;
            }
            $('#layoutConfigSection').show();
        });
        
        
        // Handle Add Layout Button
        $('#addLayerBtn').click(() => {
            // // Custom query settings
            const queryType = null;
            const query = null;
            // const queryType = document.getElementById('customQueryType').value;
            // const query = document.getElementById('queryBox').value;

            // Categorical layout settings
            const categoricalColorscheme = document.getElementById('categoricalColorscheme').value;
            // Binary layout settings
            const isUnicolor = document.getElementById('unicolorOption').checked;
            const binaryColorScheme = isUnicolor ? null : document.getElementById('binaryColorSchemeSelect').value;
            const unicolorColor = isUnicolor ? document.getElementById('unicolorColor').value : null;
            const aggregateOption = document.getElementById('aggregateOption').value;

            // numerical layout settings
            const minVal = document.getElementById('minVal').value;
            const maxVal = document.getElementById('maxVal').value;
            const colorMin = document.getElementById('colorMin').value;
            const colorMid = document.getElementById('colorMid').value;
            const colorMax = document.getElementById('colorMax').value;

            // Barplot layout settings
            const barplotWidth = document.getElementById('barplotWidth').value;
            const barplotScaleProperty = document.getElementById('barplotScaleProperty').value;
            const barplotRange = document.getElementById('barplotRange').value;
            const barplotColorOption = document.getElementById('barplotColorOption').value;
            const barplotColorScheme = document.getElementById('barplotColorScheme').value;
            const barplotFillProperty = document.getElementById('barplotFillProperty').value;

            // alignment layout settings
            const algStart = document.getElementById('algStart').value;
            const algEnd = document.getElementById('algEnd').value;
            const props = selectedProperties;
            const layout = $('#layout').val();
            if (!layout) {
                alert('Please select a layout.');
                return;
            }
            
            const layer = {
                layout,
                props,
                
                queryType,
                query,
                
                categoricalColorscheme,
                isUnicolor,
                binaryColorScheme,
                unicolorColor,
                aggregateOption,
                minVal,
                maxVal,
                colorMin,
                colorMid,
                colorMax,
                barplotWidth,
                barplotScaleProperty,
                barplotRange,
                barplotColorOption,
                barplotColorScheme,
                barplotFillProperty,
                algStart,
                algEnd
            };
            layers.push(layer);

            const columnWidth = $('#columnWidth').val();
            if (!selectedProperties.length) {
                alert('Please select properties before adding a layout.');
                return;
            }
            const paddingX = document.getElementById("paddingX").value || null;
            const paddingY = document.getElementById("paddingY").value || null;
            
            // Numerical-specific setting (applies only if a numerical layout exists in layers)
            let internalNumRep = null;
            const numericalLayouts = [
                "branchscore-layout",
                "heatmap-layout",
                "heatmap-mean-layout",
                "heatmap-zscore-layout",
                "barplot-layout",
                "numerical-matrix-layout",
                "numerical-bubble-layout",
            ];
            if (numericalLayouts.includes(layout)) {
                internalNumRep = document.getElementById("internalNumRep").value || null;
            }

            const layersData = JSON.stringify(layers);

            // Construct the form data to send to the backend
            const formData = {
                layers: layersData,
                column_width: columnWidth,
                padding_x: paddingX,
                padding_y: paddingY,
                internal_num_rep: internalNumRep
            };
            // Submit the data to the backend
            $.post(
                '/explore_tree/{{treename}}',
                formData,
                (response) => {
                    console.log('Layout added:', response);
                    //alert('Layout added successfully!');
                    // Optionally reset the UI after a successful submission
                    $('.selectProperty').prop('checked', false);
                    selectedProperties.length = 0;
                    $('#layoutConfigSection').hide();

                    // Refresh the window after successful submission
                    window.location.reload();
                }
            ).fail((error) => {
                console.error('Error adding layout:', error);
                alert('Failed to add layout. Please try again.');
            });
        });

        // Handle activation of taxonomic layouts
        $('#activateTaxonomicLayout').click(() => {
            const selectedTaxonomicLayout = $('#taxonomicLayoutSelect').val();
            if (!selectedTaxonomicLayout) {
                alert('Please select a taxonomic layout.');
                return;
            }
            const layer = { layout: selectedTaxonomicLayout, props: [] }; // No properties for taxonomic layouts
            layers.push(layer);

            const layersData = JSON.stringify(layers);
            const columnWidth = $('#columnWidth').val();
            const paddingX = document.getElementById("paddingX").value || null;
            const paddingY = document.getElementById("paddingY").value || null;
            let internalNumRep = null;
            
            const formData = {
                layers: layersData,
                column_width: columnWidth,
                padding_x: paddingX,
                padding_y: paddingY,
                internal_num_rep: internalNumRep
            };
            $.post(
                '/explore_tree/{{treename}}',
                formData,
                (response) => {
                    console.log('Taxonomic layout activated:', response);
                    window.location.reload();
                }
            ).fail((error) => {
                console.error('Error activating taxonomic layout:', error);
                alert('Failed to activate layout. Please try again.');
            });
        });

        // Handle activation of alignment layouts
        $('#activateAlignmentLayout').click(() => {
            const layer = { layout: 'alignment-layout', props: [] }; // No properties for alignment layouts
            layers.push(layer);

            const layersData = JSON.stringify(layers);
            const columnWidth = $('#columnWidth').val();
            const paddingX = document.getElementById("paddingX").value || null;
            const paddingY = document.getElementById("paddingY").value || null;
            let internalNumRep = null;
            
            const formData = {
                layers: layersData,
                column_width: columnWidth,
                padding_x: paddingX,
                padding_y: paddingY,
                internal_num_rep: internalNumRep
            };
            $.post(
                '/explore_tree/{{treename}}',
                formData,
                (response) => {
                    console.log('Alignment layout activated:', response);
                    window.location.reload();
                }
            ).fail((error) => {
                console.error('Error activating alignment layout:', error);
                alert('Failed to activate layout. Please try again.');
            });
        });

        // Handle activation of domain layouts
        $('#activateDomainLayout').click(() => {
            const layer = { layout: 'domain-layout', props: [] }; // No properties for domain layouts
            layers.push(layer);

            const layersData = JSON.stringify(layers);
            const columnWidth = $('#columnWidth').val();
            const paddingX = document.getElementById("paddingX").value || null;
            const paddingY = document.getElementById("paddingY").value || null;
            let internalNumRep = null;
            
            const formData = {
                layers: layersData,
                column_width: columnWidth,
                padding_x: paddingX,
                padding_y: paddingY,
                internal_num_rep: internalNumRep
            };
            $.post(
                '/explore_tree/{{treename}}',
                formData,
                (response) => {
                    console.log('Domain layout activated:', response);
                    window.location.reload();
                }
            ).fail((error) => {
                console.error('Error activating domain layout:', error);
                alert('Failed to activate layout. Please try again.');
            });
        });
    </script>
    <script>
        $(document).ready(function (){
            setupEventListeners();
        });
        
        document.addEventListener('DOMContentLoaded', () => {
            // Define a mapping for the Python class names to user-friendly types
            const typeMapping = {
                "float": "Numerical",
                "int": "Numerical",
                "str": "Categorical",
                "list": "List",
                "bool": "Binary"
            };
    
            // Select all rows in the properties table
            document.querySelectorAll('#propertiesTable .propType').forEach(cell => {
                const rawType = cell.textContent.trim(); // e.g., "<class 'float'>"
                const typeName = rawType.match(/<class '(\w+)'>/); // Extract the type name, e.g., "float"
                if (typeName && typeName[1] in typeMapping) {
                    cell.textContent = typeMapping[typeName[1]]; // Replace with user-friendly type
                } else {
                    cell.textContent = "Unknown"; // Default to "Unknown" if no mapping exists
                }
            });
        });
        function setupEventListeners(){
            document.getElementById('layout').addEventListener('change', function () {
                const selectedLayout = this.value;
                // Check if the selected layout is one of the categorical layouts
                const categoricalLayouts = [
                    "colorbranch-layout",
                    "label-layout",
                    "rectangle-layout",
                    "categorical-bubble-layout",
                    "background-layout",
                    "categorical-matrix-layout",
                    "piechart-layout",
                    "profiling-layout"
                ];

                if (categoricalLayouts.includes(selectedLayout)) {
                    $('#categoricalSettings').show();
                } else {
                    $('#categoricalSettings').hide();
                }

                if (selectedLayout === "binary-layout") {
                    $('#binarySettings').show();
                } else {
                    $('#binarySettings').hide();
                }

                // numerical layout settings
                // Detect if a layout option is numerical
                const numericalLayouts = [
                    "branchscore-layout", "heatmap-layout", "heatmap-mean-layout",
                    "heatmap-zscore-layout", "numerical-matrix-layout",
                    "numerical-bubble-layout"
                ];
                if (numericalLayouts.includes(selectedLayout)) {
                    $('#numericalSettings').show();
                    $('#internalNumerical').show();
                } else {
                    $('#numericalSettings').hide();
                    $('#internalNumerical').hide();
                }

                // Barplot layout settings
                if (selectedLayout === "barplot-layout") {
                    $('#barplotOptions').show();
                } else {
                    $('#barplotOptions').hide();
                }
                // Toggle color picker or property selector based on color option choice
                $('#barplotColorOption').change(function () {
                    if ($(this).val() === 'same') {
                        $('#barplotColorScheme').show();
                        $('#barplotFillProperty').hide();
                    } else if ($(this).val() === 'colorby') {
                        $('#barplotColorScheme').hide();
                        $('#barplotFillProperty').show();
                    }
                });

                // Alignment layout settings
                if (selectedLayout === "alignment-layout") {
                    $('#alignmentSettings').show();
                    $('#propsSelection').hide();
                    $('#generalSettings').hide();
                } else {
                    $('#alignmentSettings').hide();
                    $('#propsSelection').show();
                    $('#generalSettings').show();
                }

                // Domain layout settings
                if (selectedLayout === "domain-layout") {
                    $('#propsSelection').hide();
                    $('#generalSettings').hide();
                } else {
                    $('#propsSelection').show();
                    $('#generalSettings').show();
                }
            });
        };
    </script>
</body>
</html>
