*.pyc
dist/
dist/*
# Ignore build artifacts
build/
build/*
docs/build/
docs/build/*
# Ignore Sphinx static files (if necessary)
docs/source/_static/
docs/source/_templates/
*.egg-info/
__pycache__/
__pycache__/*
.covarage
.cache/
.cache/*
tests/htmlcov/
tests/htmlcov/*

